<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <script src="js/main.js" defer></script>
    <title>Harris-Bingo</title>
</head>

<body id="content">
    <div class="container-header">
        <h1 onclick="changeFont()" id="appTitle">Harris BINGO</h1>
    </div>
    <div class="notifications-container">
        <!-- <div class="notify notify--type-1 notify--success">
            <div class="notify-content">
                <div class="notify__title">New Bingo Filled</div>
                <div class="notify__text"><strong><em>Jo</em></strong><span style="margin-left: 5px;">just completed a Bingo!</span></div>
            </div>
        </div> -->
    </div>
    <div class="container-bingo">
        <div class="bingo">
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item">Hier steht ein super super langer langer text den?</div>
            <div class="bingo-item">Hier steht einfach ein langer text!</div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item">BINGO</div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
            <div class="bingo-item"></div>
        </div>
    </div>

    <div class="container-button">
        <button class="btn getNew" onclick="getNew()">get new Card</button>
        <button class="btn reset" onclick="reset()">Reset</button>
        <button class="btn undo" onclick="undoLast()">Undo last Step</button>
        <button class="btn submit" onclick="submitBingo()">Submit Bingo</button>
    </div>
    <br/>
    <div class="rules">
        <h2>Regeln:</h2>
        <br/>
        <ul>
            <li>Bingo start, wenn Staiy/Harris das PD im Stream das erste mal betritt.</li>
            <li>Gilt nur, wenn Harris es selbst mitbekommt.</li>
            <li>Einzelne Worte gelten als Zitat und müssen als solches genau so ausgesprochen werden (Zitate sind mit " markiert).</li>
            <li>Dein Kreuz gilt nur wenn du es im Stream mitbekommen hast, Sachen aus dem #rp-trash zählen nicht.</li>
            <li>Wenn du eine Sache hinterfragen musst zählt dein Kreuz nicht.</li>
            <li>Bingo ist jeden RP Tag, Gewinnauszahlung  von [BingoPayment  CRAEF] gibt es nur wenn es explizit im #rp-trash gesagt wird!</li>
            <li>Wenn ein Bingo erzielt wird, ist ein Beweis-Screenshot im #rp-trash zu posten</li>
        </ul>
    </div>
</body>

</html>
