<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/gamemaster.css">
  <title>Suggestions</title>
</head>
<body>
  <p><strong>Tip:</strong>Please enter each Suggestions separatly into this form.</p>
  
  <form action="suggestion" method="post">
    <label for="fname">Username:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="suggestion">Suggestion</label><br>
    <textarea name="suggestion">Some text...</textarea>
  </form>
</body>
</html>